name: Sanity Build

on: [pull_request]

jobs:
  sanity-build:
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        apps: [frontend, server]
    name: ${{ matrix.apps }} Sanity Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Symlink bunfig to repo root
        run: ln -s ${{ matrix.apps }}/bunfig.toml bunfig.toml

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registries: |
            @navikt:https://npm.pkg.github.com/|$BUN_AUTH_TOKEN

      - name: Install ${{ matrix.apps }} dependencies
        shell: bash
        working-directory: ${{ matrix.apps }}
        env:
          BUN_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: bun install --frozen-lockfile

      - name: Restore cache for ${{ matrix.apps }}
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{matrix.apps}}/.tsbuildinfo
          key: ${{ matrix.apps }}-${{ github.ref_name }}-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }} # This will never hit, but it is required.
          restore-keys: |
            ${{ matrix.apps }}-${{ github.ref_name }}-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }}
            ${{ matrix.apps }}-shared-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }}

      - name: Typecheck ${{ matrix.apps }}
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun run typecheck

      - name: Lint ${{ matrix.apps }}
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun run lint

      - name: Knip ${{ matrix.apps }}
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun run knip

      - name: Test ${{ matrix.apps }}
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun test

      - name: Save cache for ${{ matrix.apps }}
        uses: actions/cache/save@v4
        if: always()
        with:
          path: |
            ${{matrix.apps}}/.tsbuildinfo
          key: ${{ matrix.apps }}-${{ github.ref_name }}-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }}-${{ github.run_id }}
